@mixin nav-link-icon ($background-color,$color,$font-size,$width,$height){
    display: inline-block;
    @include border-radius(50%) ;
    padding: 0.75rem;
    background-color: $background-color;
    color:$color;
  font-size: $font-size;
  width: $width;
  height: $height;
  text-align: center;
  display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
  
@mixin linear-gradient($deg-value,$color1,$color2,$color3,$color4){
  background: linear-gradient($deg-value, $color1 0%,$color2 30%, $color3 98%,  $color4 100%);

}