.bg-orange{
    background-color: $orange;
}
.bg-black{
    background-color: $black;
}
.bg-gradient{
    background: rgb(2,0,36);  
}

.bg-gradient-30{
    background: linear-gradient(30deg, #020024 0%, #1d4b5a 30%, #55e7ca 98%,  #00d4ff 100%);
}

.bg-gradient-60{
    background: linear-gradient(60deg, #020024 0%, #1d4b5a 30%, #55e7ca 98%,  #00d4ff 100%);
}

.bg-gradient-90{
    background: linear-gradient(90deg, #020024 0%, #1d4b5a 30%, #55e7ca 98%,  #00d4ff 100%);
}

.bg-gradient-120{
    background: linear-gradient(120deg, #020024 0%, #1d4b5a 30%, #55e7ca 98%,  #00d4ff 100%);
}

.bg-gradient-180{
    background: linear-gradient(180deg, #020024 0%, #1d4b5a 30%, #55e7ca 98%,  #00d4ff 100%);
}

