.bg-orange{
    background-color: $orange;
}
.bg-black{
    background-color: $black;
}
.bg-gradient{
    background: rgb(2,0,36);
    
    background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(29,75,90,1) 30%, rgba(85,231,202,1) 98%, rgba(0,212,255,1) 100%);
}