/** extend and override boostraap variables */
@font-face {
  font-family: 'BigShouldersText';
  src: url("/assets/fonts/Big_Shoulders_Text/BigShouldersText-Regular.ttf") format("truetype");
}

$font-main: 'BigShouldersText', sans-serif;


$gray:#6f8099;
$gray-400:#e9ecef96;
$green:#43c6ac;
$orange:#fc4a1a;


$primary: $green;
$secondary :$gray;
$light: $gray-400;

$bg-light:rgba(0, 0, 0, 0.03);

$main-color-text:#606060;

$placeholder-color:#c0c0c0;

$colors :(
    "green":      $green,
    "orange":     $orange,
    "gray":       $gray
  );
  
$theme-colors: (
  "primary":$green,
  "secondary":$gray

);
