body {
     font-family: $font-main;
     color:$main-color-text;
      font-size:1rem;;
 }

 select{
    color:$main-color-text; 
 }
.content {
    padding: 1rem;
}



.add-row{
    .bg-primary {
        color: $white!important;
        border: 1px solid $primary;
    }
}



.border-dashed {
    border-style: dashed;
    border-width: 2px;
}


.color-item{
    width: 4.25rem;
    height: 3.25rem;
    margin-left: 0.5rem;
    @include border-radius(0.5rem);
}


.square-colorful-bloc {
    padding: 1rem;
    text-align: center;
    border: 1px solid #eee;
    @include border-radius(0.75rem);
    color: $white;
    width: 5.5rem;
    height: 5.5rem;
    margin: 0.25rem 0.7rem 0.25rem 0;
    i,.iconify,.material-icons{
        font-size: 2.25rem;
        margin-bottom: 0.25rem;
    }
}

.section{
    color: $white;
    padding: 1rem;
    @include border-radius(5px);
    font-size: 1.25rem;
}




.image-preview{
    border-color: $primary;
    @include border-radius(0.75rem);
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    height: 15.25rem;
}
.upload-image{
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    color: #ddd;
    font-size: 2rem;
    height: 160px;
    .material-icons{
        font-size: 4rem;
    }
}
#card4 textarea{
    height: 10rem;
}

.dashbord-main-title{
    border-bottom: 0.09rem solid #ccc;
    font-size: 1.37rem;
}

.step-label{
    text-transform: capitalize;
}
.graph-container{
    height: 30rem;
}

.navbar-nav .dropdown-menu{
    position: absolute;
}



.navbar-collapse.collapse {
    @media (min-width: 1200px){
        display: block!important;
        overflow: visible!important;
    }
   
}

#card5{
    label{
        margin-bottom: 1.5rem;
    }
}

.row-action {
    position: relative;
    right: 1rem;
}