body {
     font-family: $font-main;
     color:$main-color-text;
 }


.content {
    padding: 1rem;
}

.cirle-btn {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #dee2e6;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    color: #8e9398;
    line-height: 1.5rem;
    margin: 0 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    text-align: center;
    font-size: 1.15rem;
    i {
        line-height: 2.5rem;
    }
}

.bg-primary {
    color: $white;
    border: 1px solid $primary;
}



.border-dotted {
    border-style: dotted;
    border-width: 2px;
}

.byb-form-control {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding: 1rem 0.75rem;
    outline: none;
}

.color-item{
    width: 4rem;
    height: 3rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

.bg-orange{
    background-color: $orange;
}
.bg-black{
    background-color: $black;
}
.bg-gradient{
    background: rgb(2,0,36);
background: linear-gradient(153deg, rgba(2,0,36,1) 0%, rgba(29,75,90,1) 30%, rgba(85,231,202,1) 98%, rgba(0,212,255,1) 100%);
}
.square-colorful-bloc {
    padding: 1rem;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    color: $white;
    height: 5rem;
    i{
        font-size: 2rem;
    }
}

.section{
    color: $white;
    padding: 1rem;
    border-radius: 5px;
}
.btn{
    outline: none;
    i {
        margin-left: 0.5rem;
    }
}
.btn-outline-primary:hover{
    color:$white!important;
}



.byb-number-spinner{
    justify-content: center;
    .btn{
        color: $primary;
        outline: none;
    }
    input{
        border: none;
        outline: none;
        width: 6rem;
        padding: 1rem 0.75rem;
    }
    .input-group-btn{
        padding: 1rem 0.75rem;
    }
   
}