.step-number {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5;
    display: inline-block;
    border-radius: 50%;
    background: $primary;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 1rem;
    color: $white;
    font-weight: 500;
}

.active-step{
    background-color: $purple;
}
.nav-tabs {
    position: relative;
    margin-bottom: 0;
    border-bottom-color: transparent;
}
.nav-tabs > li a {
    position: relative;
    top: 1rem;
}

 .nav-tabs > li {
    width: 33.33%;
   
}

.connecting-line {
    height: 1px;
    background: $primary;
    position: absolute;
    width: 90%;
    margin: 0;
    left: 1rem;
    right: 0;
    top: 2.25rem;;
}
.byb-steps {
    height: 5rem;
}
.stepper-label {
    position: relative;
    top: 2.5rem;
    font-size: 1rem;
    color:$main-color-text;
    left: -2rem;
}

.first-step{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.second-step{
 
    display: flex;
    justify-content: center;
    align-items: center;
    .stepper-label{
        left: -1rem;
    }
}


.third-step{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}