/** 
*Override boostrap cards
*/
.collapse-card-btn {

    cursor: pointer;

    i {
        font-size: 1.5rem;
        color: $primary;
        padding: 1rem;

      
    }

   
}
.collapsed i{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);

    -webkit-transition: transform 0.25s ease;
    -o-transition: transform 0.25s ease;
    transition: transform 0.25s ease;
}