.btn{
    outline: none;
    font-size: 1.25rem;
    i {
        margin-left: 0.5rem;
    }
    &:focus, .focus{
        box-shadow: none;
    }
}
.btn-outline-primary{
    background-color: $white;

&:hover{
    color:$primary!important;
    opacity: 0.6;
    background-color: $white;
    &:active,&:focus{
        box-shadow: none;
        background-color: $white;
    }
}
}

.cirle-btn {
    display: inline-block;
    @include border-radius(50%);
    border: 1px solid #dee2e6;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    color: #c0c1c2;
    padding: 0.5rem;
    margin: 0 1rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    text-align: center;


}

.btn-lg{
    width: 12rem;
}

.byb-disbaled-btn {
    background-color: $dark-gray!important;
    border-color: $dark-gray!important;
    &:hover{
        background-color: $dark-gray!important;
        border-color: $dark-gray!important;
    }
}