/**table***/

.byb-table{
    color:$main-color-text;
    th, td {
        width: 8rem;
        padding: 0;
    }
    td{
        border: none;
       
    }

    .remove-row-table {
        top: 1.75rem;
        left: 46%;
        &:before {
            content: "";
            content: "";
            height: 2px;
            background-color: #ddd;
            position: absolute;
            width: 1.40rem;
            top: 23px;
            z-index: 0;
            transform: rotate(74deg) translateY(-3px) translateX(7px);
        }
        &:after {
            content: "";
            height: 2px;
            background-color: #ddd;
            position: absolute;
            width: 1.10rem;
            top: -3px;
            z-index: 0;
            transform: rotate(-69deg) translateY(-16px) translateX(1px);
        }
    }
    
}

td:first-child {
    width: 6rem;
}
.add-colum-left{
    left:  -10.25px;
    top:2rem;
    
    color: $primary;
}

.add-colum-right{
    right: -10.25px;
    top:2rem;
    color: $primary;
  
}
.line-before:before {
    content: "";
    display: inline-block;
    height: 1.25px;
    background-color: #ddd;
    position: absolute;
    width: 5.5rem;
    left: 22px;
    top: 8px;
}
.remove-colum{
    left: 45%;
    top:1rem;
    &:before {
        content: "";
        height: 2px;
        background-color: #ddd;
        position: absolute;
        width: 2.75rem;
        top: 4px;
        z-index: 0;
        transform: rotate(19deg) translateY(5px) translateX(20px);
    }
    &:after {
        content: "";
        height: 2px;
        background-color: #ddd;
        position: absolute;
        width: 2.75rem;
        top: 12px;
        z-index: 0;
        transform: rotate(161deg) translateY(18px) translateX(58px);
    }
}

tr{
    height: 5rem;
    
}

.add-row-top{
    top: -10px;
    right: 1rem;
    color: $primary;
}

.add-row-bottom{
    top: 4.35rem;
    right: 1.25rem;
    color: $primary;
}

.first-row:after {
    content: "";
    height: 3.75rem;
    background-color: #ddd;
    width: 1.5px;
    position: absolute;
    left: 7px;
    display: inline-block;
    top: 20px;
}






.td-custom-style{
    border-left: 1px solid #dee2e6!important;
    border-top: 1px solid #dee2e6!important;
    vertical-align: middle!important;
    padding: 0 0.25rem!important;
    color: #ddd;
    &:last-child{
        border-right: 1px solid #dee2e6;
    }
}
.tr-custom-style{
    height: 3.5rem;
}

#card6-content,.byb-table{
  
    @media(max-width: 1199px){
        overflow-x: auto;
        white-space: nowrap;
        width: 1033px;
    }
    
}


.radio-row{
    vertical-align: middle!important;
    border-left: 1px solid #dee2e6!important;
    padding: 0 0.75rem!important;

}