

#timeline-wrap{
    margin:6% 15%;
    position:relative;
    .time-line-step{
      position: relative;
      @media(min-width: 768px){
      
        display: inline-block
      }
      @media(max-width: 767px){
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 5rem;
      }
    }
   .info{
    font-size: 1rem;
    text-align: center;
    width: 200px;
    @media(min-width: 768px){
      position: absolute;
      margin-left: -90px;
      top: 1rem;
    }
    @media(max-width: 767px){
      top: -3rem;
      margin-left: 1.75rem;
      position: relative;
  
    }
   }
   .timeline-icon {
    
    width: 65px;
    height: 65px;
    background-color: $primary;
    @include border-radius(50%);
    display: flex;
    justify-content: center;
    align-items: center;

    @media(min-width:768px){
      top: -100px;
      position: absolute;
      margin-left: -20px;
    }
    @media(max-width:767px){
      position: absolute;
      left: -3.5rem;
      top: -1.35rem;
    }

&:after{
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: auto;
  bottom: auto;
  border: 12px solid;
  border-color: $primary $primary transparent transparent;

  @media(min-width:768px){
    left: 14px;
    top: 48px;
    transform: rotate(20deg);
  }
  @media(max-width:767px){
    left: 52px;
    top: 30px;
    transform: rotate(-70deg);
  }
}

.fa{
    color: $white;
    font-size: 1.25rem;
    margin: 0 0.10rem;
}

}
  }
  
  #timeline{
    background-color:$primary;
    @media(min-width:768px){
      height:2px;
      width: 100%;
      
      position:relative;
    }
    @media(max-width:767px){
      height: 38rem;
      width: 2px;
      position: absolute;
      display: inline-block;
      left: 2rem;
      top: 1rem;
      z-index: 0
    }
    &:before {
      content: "";
  
      background-color: $dark-gray;
      display: block;
      position: absolute;
      @media(min-width:768px){
        height: 2px;
      width: 25%;
      right: 0;
      }
      
      @media(max-width:767px){
        height: 9rem;
      width: 2px;
      bottom: 0;
      }
  }
   
  }
  

    .marker{
        z-index:1000;
       width: 25px;
       height: 25px;
       text-align: center;
       position: relative;
       background-color:$bg-light;
       @include border-radius (50%);

       display: flex;
       justify-content: center;
       @media(min-width: 768px){
        top: -15px;
      }
      @media(max-width: 767px){
        left: 22px;
      }
       .marker-child{
        background-color:$primary;
        width: 18px;
        height: 18px;
        @include border-radius (50%);
        @media(min-width: 768px){
          top: -15px;
        }
        @media(max-width: 767px){
          top: 0.15rem;
          position: relative;
          left: -0.15rem;
        }
       }
}


  
   .marker:hover{
     -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
     
     -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}
  
.mfirst {
  @media(min-width: 768px){
    margin-left: -20px;
  }
   
}

  .m2{
    @media(min-width: 768px){
      left:22%
    }
       
  }
  
  .m3{
    @media(min-width: 768px){
      left:44%
    }
     
  }
  
  .m4{
    @media(min-width: 768px){
      left:66%
    }

  }
  .mlast{
    @media(min-width: 768px){
      left:88%;
    }
   
      .timeline-icon, .marker-child{
        background-color:$dark-gray!important;
        &:after{
          border-color: $dark-gray $dark-gray transparent transparent!important;
        }
      }
      
  }

  