/** 
*Override boostrap cards
*/
.collapse-card-btn {

    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;

    i {
        color: $primary;
        padding: 1rem;

      
    }

   
}
.collapsed
{
    position: relative;
    text-align: right;
    i{
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        -webkit-transition: transform 0.25s ease;
        -o-transition: transform 0.25s ease;
        transition: transform 0.25s ease;
    }
} 


.card{
    background-color:$bg-light;
    border:none;
    @include border-radius(1rem);
    border: 0;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}

.card-header{
    border-bottom: none;
    background-color:transparent;
}

.move-card{
    top:38%;
    background-color: rgb(247, 247, 247);
    z-index: 999;
    position: absolute;
    height: 4rem;
}


.horizontal-row{
    color: #ddd;
    width: 3rem;
    &:after {
        background-color: #ddd;
        content: "";
        width: 0.25rem;
        height: 100%;
    }
}

.delete-card {
    height: 2rem;
}

.btn-actions{
    font-size: 1.25rem!important;
    .material-icons{
        top: 0.25rem;
        position: relative;
    }
}