.menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar{
    height: 100%;
}

.menu-option {
    width: 12.5%;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        font-size: 1.75rem;
        margin-right: 1.25rem;
    }
    .btn{
        color: $main-color-text;
    }
    @media(max-width: 767px){
        width: 100%;
        border-bottom: 0.15rem solid #ddd;
        border-left: none!important;
        text-align: center;
    }
}

.secondary-menu {
    height: 4.5rem;
    box-shadow: 0 3px 5px 0 rgba(32, 33, 36, 0.18);
    background-color:$bg-light;
    @media(max-width: 767px){
        height: 100vh;
    }
    .dropdown-menu.show {
        transform: translate3d(5px, 56px, 0px)!important;
    }
    
}

.border-left-menu-option{
    border-left: 0.15rem solid #ddd;
}

.redo-undo{
    width: 5rem;
    opacity: 0.2;
}
span.menu-option-label {
    min-width: 4rem;
    font-size: 1.25rem;
}