.byb-radio-btn {
    position: relative;
    margin-bottom: 10px;
}

.radio {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.byb-radio-style {  
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    border: 0.15rem solid $primary;
    border-radius: 50%;
    position: relative;
}

.byb-radio-style.checked:after {
    content: "";
    position: absolute;
    left: 0.25rem;
    top: 0.25rem;
    bottom: 0.25rem;
    right: 0.25rem;
    border: 0.15rem solid $primary;
    border-radius: 50%;
    background-color: $primary;
}

.radio:checked + .byb-radio-style:after {
    background:$primary; // or any other style you need
}