.byb-form-control {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding:0.75rem;
    outline: none;
    background-color: $white;
    @include border-radius(0.25rem);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $primary;;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $primary;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.byb-form-control::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  .byb-bform-control:-moz-placeholder {
    color: $placeholder-color;
  }
 ::-moz-placeholder {
    color: $placeholder-color;
  }
::placeholder {
    color: $placeholder-color;
  }
:-ms-input-placeholder {
    color: $placeholder-color;
  }

  select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    option:first-child
{
    color: $placeholder-color;
}
  }

  .select-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
  }
  .byb-number-spinner{
    justify-content: center;
    .btn{
        color: $primary;
        outline: none;
    }
    input{
        border: none;
        outline: none;
        width: 6rem;
        padding: 1rem 0.75rem;
        background-color: $gray-light;
        @media(max-width: 767px){
          width: 3rem;
        }
    }
    .input-group-btn{
        padding:  0.70rem;
    }
   
}


/***checkbox**************/
.wrapper-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
}




/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: $white;
  border:1px solid #ddd;
  @include border-radius(0.25rem);

  /* Style the checkmark/indicator */
  &:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid $primary;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

/* On mouse-over, add a grey background color */
.wrapper-checkbox:hover input ~ .checkmark {
  background-color: $white;
}

/* When the checkbox is checked, add a blue background */
.wrapper-checkbox input:checked ~ .checkmark {
  background-color:$white;
}



/* Show the checkmark when checked */
.wrapper-checkbox input:checked ~ .checkmark:after {
  display: block;
}


