.byb-form-control {
    display: block;
    width: 100%;
    border: none;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding:0.75rem;
    outline: none;
    background-color: $white;
    @include border-radius(0.25rem);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid $primary;;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: $primary;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.byb-form-control::-webkit-input-placeholder {
    color: $placeholder-color;
  }
  .byb-bform-control:-moz-placeholder {
    color: $placeholder-color;
  }
  .byb-form-control::-moz-placeholder {
    color: $placeholder-color;
  }
  .byb-form-control::placeholder {
    color: $placeholder-color;
  }
  .byb-form-control:-ms-input-placeholder {
    color: $placeholder-color;
  }

  select{
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    option:first-child
{
    color: $placeholder-color;
}
  }

  .select-icon {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
  }
  .byb-number-spinner{
    justify-content: center;
    .btn{
        color: $primary;
        outline: none;
    }
    input{
        border: none;
        outline: none;
        width: 6rem;
        padding: 1rem 0.75rem;
        background-color: #f7f7f7;
        @media(max-width: 767px){
          width: 3rem;
        }
    }
    .input-group-btn{
        padding:  0.70rem;
    }
   
}