<div id="card1" class="card mb-5">
    <div class="card-header">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-9"> Lorem ipsum</div>
            <div class="col-12 col-md-4 col-lg-3  text-md-right btn-actions">
                <span class="iconify" data-icon="entypo:add-to-list"
                    data-inline="false"></span>
               <span class="material-icons ml-3 mr-3">delete</span>
                <span class="fa fa-arrows" aria-hidden="true"></span>

            </div>
        </div>
    </div>
    <div id="card-content1" class="card-body position-relative pl-0">
        <div class=" d-flex flex-row">
        <div class="horizontal-row d-flex flex-column align-items-center">
           <div class="delete-card">
           <span class="material-icons">delete</span>
           </div> 
            <div class="move-card d-flex align-items-center">
                <span class="iconify" data-icon="entypo:dots-three-vertical" data-inline="false"></span>
            </div>
        </div>
        <div class="card-content w-100">
            <div class="row mb-4">
                <div class="col-12 col-md-5 col-lg-4 col-xl-3 mb-4">
                    <input type="text" placeholder="Place holder" class="byb-form-control" />
                </div>
                <div class="col-md-12">
                    <textarea id="editor1"  name="editor1" class="byb-form-control" placeholder="Place holder"></textarea>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2 d-flex align-items-center">
                    <span class="step-label">step 1</span>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" placeholder="Place holder" class="byb-form-control" />
                    <span class="remove-row">
                        <span class="iconify cirle-btn bg-white" data-icon="entypo:cross"
                            data-inline="false"></span>
                    </span>
                </div>

            </div>
            <div class="row mb-4">
                <div class="col-md-2 d-flex align-items-center">
                    <span class="step-label">step 2</span>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" placeholder="Place holder" class="byb-form-control" />
                    <span class="remove-row">
                        <span class="iconify cirle-btn bg-white" data-icon="entypo:cross"
                            data-inline="false"></span>
                    </span>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-2 d-flex align-items-center">
                    <span class="step-label">step 3</span>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" placeholder="Place holder" class="byb-form-control" />
                    <span class="remove-row"> 
                        <span class="iconify cirle-btn bg-white"
                            data-icon="entypo:cross" data-inline="false"></span> </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 d-flex align-items-center">
                    <span class="step-label">step 4</span>
                </div>
                <div class="col-md-10 d-flex align-items-center">
                    <input type="text" placeholder="Place holder" class="byb-form-control" />
                    <span class="add-row"> 
                        <span class="iconify cirle-btn bg-primary"
                            data-icon="entypo:plus" data-inline="false"></span> 
                    </span>
                </div>
            </div>
        </div>
        </div>
        <div class="row row pb-4 pt-4">
            <div class="col-md-12 text-center">
                <button class="btn border-dashed btn-outline-primary btn-lg bg-white"
                    type="button">
                    Add Lorem ipsum
                    <span class="iconify" data-icon="entypo:plus"
                        data-inline="false"></span>
                </button>
            </div>
        </div>
    </div>

    <span class="collapse-card-btn" data-toggle="collapse" data-target="#card-content1"
        aria-expanded="false"><i class="fa fa-chevron-up" aria-hidden="true"></i>
    </span>

</div>

<script>
     $('#editor1').trumbowyg();
 </script>