<div id="card7" class="card mb-5">
    <div class="card-header">
        <div class="row">
            <div class="col-7 col-md-9"> Lorem ipsum</div>
            <div class="col-5 col-md-3  text-right">
                <span class="iconify" data-icon="entypo:add-to-list"
                    data-inline="false"></span>
               <span class="material-icons ml-3 mr-3">delete</span>
                <span class="fa fa-arrows" aria-hidden="true"></span>

            </div>
        </div>
    </div>
    <div id="card-content7"  class="card-body position-relative pl-0">
        <div class="d-flex flex-row">
        <div class="horizontal-row d-flex flex-column align-items-center">
            <div class="delete-card">
            <span class="material-icons">delete</span>
            </div> 
             <div class="move-card d-flex align-items-center">
                 <span class="iconify" data-icon="entypo:dots-three-vertical" data-inline="false"></span>
             </div>
         </div>
         <div class="card-content w-100">
            <div class="row mb-5">
                <div class="col-md-5 d-lg-flex align-items-center">
                    <label class="text-nowrap mr-3">Choose your X axis title</label>
                    <input type="text" class="byb-form-control"
                        placeholder="Place holder" />
                </div>
                <div class="col-md-5 d-lg-flex  align-items-center">
                    <label class="text-nowrap mr-3">Choose your Y axis title</label>
                    <input type="text" class="byb-form-control"
                        placeholder="Place holder" />
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <p>Lorem ipsum</p>
                    <div class="d-flex mb-4">
                        <input type="text" class="byb-form-control"
                            placeholder="Lorem ipsum 1" />
                        <span class="color-item bg-primary"></span>
                    </div>
                    <div class="d-flex  mb-4">
                        <input type="text" class="byb-form-control"
                            placeholder="Lorem ipsum 12" />
                        <span class="color-item bg-orange"></span>
                    </div>
                    <div class="d-flex  mb-4">
                        <input type="text" class="byb-form-control"
                            placeholder="Lorem ipsum 3" />
                        <span class="color-item bg-black"></span>
                    </div>
                    <div class="d-flex  mb-4">
                        <input type="text" class="byb-form-control"
                            placeholder="Lorem ipsum 4" />
                        <span class="color-item bg-secondary"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="text-center">Give a score on X axis (Between -10 and +10)</p>
                    <div class="mb-4">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="text-center">Give a score on Y axis (Between -10 and +10)</p>
                    <div class="mb-4 d-flex">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4 d-flex">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4 d-flex">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="mb-4 d-flex">
                        <div class="input-group byb-number-spinner">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="dwn">
                                    <span class="iconify" data-icon="entypo:minus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                            <input type="text" class="text-center" value="1">
                            <span class="input-group-btn">
                                <button class="btn btn-default" data-dir="up">
                                    <span class="iconify" data-icon="entypo:plus"
                                        data-inline="false"></span>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-1 row">
                    <div class="mb-4"></div>
                    <div class="mb-4">
                        <span class="cirle-btn bg-white">
                            <span class="iconify"
                            data-icon="entypo:cross" data-inline="false"></span> 
                        </span></div>
                    <div class="mb-4"> <span class="cirle-btn bg-white">
                        <span class="iconify"
                        data-icon="entypo:cross" data-inline="false"></span> 
                             </span></div>
                    <div class="mb-4"> <span class="cirle-btn bg-white">
                        <span class="iconify"
                                data-icon="entypo:cross" data-inline="false"></span> 
                            </span></div>
                    <div class="mb-4"><span class="cirle-btn bg-primary">
                            <span class="iconify" data-icon="entypo:plus"
                                data-inline="false"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div
                    class="col-12 graph-container bg-white  d-flex align-items-center justify-content-center">
                    <p>graph here</p>
                </div>
            </div>
         </div>
        </div>
        <div class="row  pb-4 pt-4">
            <div class="col-md-12 text-center">
                <button class="btn border-dashed btn-outline-primary btn-lg bg-white"
                    type="button">
                    Add Lorem ipsum
                    <span class="iconify" data-icon="entypo:plus"
                        data-inline="false"></span>
                </button>
            </div>
        </div>
    </div>

    <span class="collapse-card-btn" data-toggle="collapse" data-target="#card-content7"
        aria-expanded="false"><i class="fa fa-chevron-up" aria-hidden="true"></i>
    </span>

</div>