<div class="row align-items-center">
    <div class="col-12 col-md-2 col-lg-2">
        <div class="footer-logo text-center text-md-left">
            <i class="fa fa-pie-chart mr-4"></i>BYB</div>
    </div>
    <div class="col-12 col-md-10 col-lg-6 text-center">
        <ul class="nav justify-content-center flex-column flex-md-row">
            <li class="nav-item"> <a class="nav-link" href="#">Terms of services</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Privacy policy</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">About</a></li>
            <li class="nav-item"> <a class="nav-link" href="#">Support</a></li>
        </ul>
    </div>
</div>