<div class="container-fluid">
    <div class="row">
        <div class="col-10 col-lg-4">
            <nav class="navbar navbar-expand-lg">
                <ul class="navbar-nav flex-row">
                    <li class="home-link">
                        <span class="iconify" data-icon="entypo:home" data-inline="false"></span>
                    </li>
                    <li class="nav-item tootls-item">
                        <div class="dropdown">
                            <a class="btn  dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="menu-option-label">Tool name</span>
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">workspace 1</a>
                                <a class="dropdown-item" href="#">workspace 2</a>
                                <a class="dropdown-item" href="#">workspace 31</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item d-lg-none">
                        <span  data-toggle="collapse" data-target="#header-mobile-menu" aria-controls="header-mobile-menu" aria-expanded="true" aria-label="Toggle navigation">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </span>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="d-none d-lg-block col-lg-7">
            
            <nav  id="top-navbar" class="navbar navbar-expand-lg d-flex justify-content-end">

                <ul class="navbar-nav">
                    <li class="nav-item"> <a class="nav-link" href="#">My Companies</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">My Team</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">My Account</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Help</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Logout</a></li>

                </ul>
            </nav>

        </div>
        <div class="col-2 col-lg-1">
            <i class="fa fa-bell" aria-hidden="true"></i>
            <span class="notification-number">1</span>
        </div>
    </div>

</div>