<div  class="nav navbar-nav side-nav">
    <div class="menu-left">
        <ul class="navbar-nav">

            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon" href="#">
                    <i class="fa fa-map-o" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <span class="edit-menu">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </span>
                <a class="nav-link nav-link-icon" href="#">
                    <!-- <i class="fa fa-code active" aria-hidden="true"></i> -->
                    <span class="iconify  active" data-icon="entypo:megaphone" data-inline="false"></span>
                    <span class="text-menu">Lorem ips</span>

                    <ul class="tree">
                      
                          <ul>
                            <li>
                                <div class="nav-link-icon sub-menu-item">
                                    <i class="fa fa-money sub-menu-item-icon firs-child" aria-hidden="true"></i>
                                    <span class="text-menu">Lorem</span>
                                </div>
                            </li>
                            <li>
                                <div  class="nav-link-icon sub-menu-item">
                                    <span class="iconify sub-menu-item-icon active" data-icon="entypo:new"
                                        data-inline="false"></span>
                                    <span class="text-menu">Lorem</span>
                                </div>
                            </li>
                            <li>
                                <div class="nav-link-icon sub-menu-item">
                                    <span class="iconify add-submenu sub-menu-item-icon" data-icon="entypo:plus" data-inline="false"></span>
                                    <span class="text-menu">Add Lorem</span>
                                </div>
                            </li>

                          </ul>
                       
                      </ul>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-usd" aria-hidden="true"></i>

                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-code" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-handshake-o" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <i class="fa fa-file-text-o" aria-hidden="true"></i>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
            <li>
                <a class="nav-link nav-link-icon " href="#">
                    <span class="iconify " data-icon="entypo:progress-two" data-inline="false"></span>
                    <span class="text-menu">Lorem</span>
                </a>
            </li>
        </ul>
    </div>
</div>