<div class="card mb-3">
    <div class="card-body">
        <div class="row m-auto">

                <div class="square-colorful-bloc bg-gradient bg-gradient-30">
                    <span class="iconify" data-icon="entypo:text" data-inline="false"></span>
                    <p>Text</p>
                </div>

                <div class="square-colorful-bloc bg-gradient bg-gradient-60">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <p>Table</p>
                </div>

                <div class="square-colorful-bloc bg-gradient bg-gradient-90">
                    <span class="material-icons"> timeline </span>
                    <p>Chart</p>
                </div>

                <div class="square-colorful-bloc bg-gradient bg-gradient-120">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <p>Hightlights</p>
                </div>

                <div class="square-colorful-bloc bg-gradient bg-gradient-180">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <p>Image</p>
                </div>

        </div>
        <p class="drag-drop-label text-center mt-2 mb-0">Drag & drop to add element into section</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="section bg-gradient d-flex justify-content-between align-items-center bg-gradient-360 mb-2">
            <div class="section-name">Section 1</div>
            <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <div class="section bg-gradient bg-gradient-360 d-flex justify-content-between align-items-center mb-2">
            <div class="section-name">Section 2</div>
            <i class="fa fa-usd" aria-hidden="true"></i>
        </div>
        <p class="drag-drop-label text-center mt-5 mb-0">Drag & drop to add section</p>
    </div>
</div>