<div class="card mb-3">
    <div class="card-body">
        <div class="row m-auto">

                <div class="square-colorful-bloc bg-gradient">
                    <span class="iconify" data-icon="entypo:text" data-inline="false"></span>
                    <p>Text</p>
                </div>

                <div class="square-colorful-bloc bg-gradient">
                    <i class="fa fa-table" aria-hidden="true"></i>
                    <p>Table</p>
                </div>

                <div class="square-colorful-bloc bg-gradient">
                    <i class="fa fa-line-chart" aria-hidden="true"></i>
                    <p>Chart</p>
                </div>

                <div class="square-colorful-bloc bg-gradient">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <p>Hightlights</p>
                </div>

                <div class="square-colorful-bloc bg-gradient">
                    <i class="fa fa-picture-o" aria-hidden="true"></i>
                    <p>Image</p>
                </div>

        </div>
        <p class="text-center mt-2 mb-0">Drag & drop to add element into section</p>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="section bg-gradient mb-2">Section 1</div>
        <div class="section bg-gradient  mb-2">Section 2</div>
        <p class="text-center mt-5 mb-0">Drag & drop to add section</p>
    </div>
</div>