<table class="table table-responsive">
    <thead>
        <tr class="tr-custom-style">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>
                <div class="position-relative">
                    <span class="add-colum-left position-absolute line-before">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute ">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
               
            </td>
            <td>
                <div class="position-relative">
                    <span class="remove-colum position-absolute">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td>
                <div class="position-relative">
                    <span class="remove-colum position-absolute">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td>
                <div class="position-relative">
                    <span class="remove-colum position-absolute">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td>
                <div class="position-relative">
                    <span class="remove-colum position-absolute">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td>
                <div class="position-relative">
                    <span class="remove-colum position-absolute">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    <span class="add-colum-right position-absolute">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td class="td-custom-style  bg-white">&nbsp;</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td class="td-custom-style  text-center bg-white">Lorem ipsum</td>
            <td ></td>
        </tr>
        <tr>
            <td>
                <div class="position-relative">
                    <span class="add-row-top position-absolute first-row">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    <span class="add-row-bottom position-absolute ">
                       <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td class="td-custom-style bg-white">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text" name="radio-group" checked>
                        <label for="text"></label>
                </div>
                <div class="byb-radio-btn">
                    <span class="d-block">check</span>
                        <input type="radio" name="check1" name="radio-group">
                        <label for="check1"></label>
                </div>
                </div>
               
        </td>
        </tr>
        <tr>
            <td>
                <div class="position-relative">
                    <span class="remove-row position-absolute ">
                        <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                    </span>
                    
                </div>
            </td>
            <td class="td-custom-style bg-white">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text2" name="radio-group" checked>
                        <label for="text2"></label>
                </div>
                <div class="byb-radio-btn">
                    <span class="d-block">check</span>
                        <input type="radio" name="check2" name="radio-group">
                        <label for="check2"></label>
                </div>
                </div>
               
        </td>
        </tr>
        <tr>
            <td>
                <div class="position-relative">
                <span class="add-row-top position-absolute">
                   <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                </span>
                <span class="remove-row position-absolute ">
                    <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                </span>
                
            </div>
        </td>
            <td class="td-custom-style bg-white">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text3" name="radio-group" checked>
                        <label for="text3"></label>
                </div>
                <div class="byb-radio-btn">
                    <span class="d-block">check</span>
                        <input type="radio" name="check3" name="radio-group">
                        <label for="check3"></label>
                </div>
                </div>
               
        </td>
        </tr>
        <tr>
            <td><div class="position-relative">
                <span class="add-row-top position-absolute">
                   <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                </span>
                <span class="remove-row position-absolute ">
                    <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                </span>
                
            </div></td>
            <td class="td-custom-style bg-white">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <span class="iconify" data-icon="entypo:circle-with-minus" data-inline="false"></span>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <span class="iconify" data-icon="entypo:circle-with-minus" data-inline="false"></span>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <span class="iconify" data-icon="entypo:circle-with-minus" data-inline="false"></span>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <span class="iconify" data-icon="entypo:circle-with-minus" data-inline="false"></span>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <span class="iconify" data-icon="entypo:circle-with-minus" data-inline="false"></span>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text5" name="radio-group" checked>
                        <label for="text5"></label>
                </div>
                
                
            <div class="byb-radio-btn">
                <span class="d-block">check</span>
                    <input type="radio" name="check5" name="radio-group">
                    <label for="check5"></label>
            </div>
        </div>
        </td>
        </tr>
        <tr>
            <td><div class="position-relative">
                <span class="add-row-top position-absolute">
                   <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                </span>
                <span class="remove-row position-absolute ">
                    <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                </span>
                
            </div>
        </td>
            <td class="td-custom-style">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center bg-white">
                <span class="iconify" data-icon="entypo:check" data-inline="false"></span>
                <i class="fa fa-minus-circle" aria-hidden="true"></i>
            </td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text4" name="radio-group">
                        <label for="text4"></label>
                </div>
                <div class="byb-radio-btn">
                    <span class="d-block">check</span>
                        <input type="radio" name="check4" name="radio-group" checked>
                        <label for="check4"></label>
                </div>
                </div>
               
        </td>
        </tr>
        <tr>
            <td>
                <div class="position-relative">
                <span class="add-row-top position-absolute">
                   <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                </span>
                <span class="remove-row position-absolute ">
                    <span class="iconify" data-icon="entypo:cross" data-inline="false"></span>
                </span>
                <!-- <span class="add-row-bottom position-absolute">
                    <span class="iconify" data-icon="entypo:plus" data-inline="false"></span>
                 </span> -->
            </div>
        </td>
            <td class="td-custom-style bg-white">Lorem ipsum</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center bg-white">Text</td>
            <td class="td-custom-style text-center">
                <div class="d-flex justify-content-between">
                    <div class="byb-radio-btn">
                        <span class="d-block">text</span>
                        <input type="radio" name="text5" name="radio-group" checked>
                        <label for="text5"></label>
                </div>
                
                
            <div class="byb-radio-btn">
                <span class="d-block">check</span>
                    <input type="radio" name="check5" name="radio-group">
                    <label for="check5"></label>
            </div>
        </div>
        </td>
        </tr>
    </tbody>
</table>