footer {
    padding: 1rem;
    font-size: 1.5rem;
    color:$white;
    a{
        color:$white; 
    }
    i{
        font-size: 2rem;
    }
    .nav-item{
        padding: 0.25rem 1.5rem;
    }
}
.footer-logo{
    line-height: 4rem;
}