footer {
    padding: 1rem;
    font-size: 1.5rem;
    color:$white;
    z-index: 99999;
    position: relative;
    a{
        color:$white; 
    }
    i{
        font-size: 2rem;
    }
    .nav-item{
        @media(min-width:1200px){
            padding: 0.25rem 1.5rem;
        }
       
    }
}
.footer-logo{
    line-height: 4rem;
    font-size: 2rem;
    
}