$header-con-size:1.5rem;

header {
    
    line-height: 2.5rem;
    border-bottom: 0.25rem solid $primary;
    color:$white;
    a{
        color:$white;
        &:hover{
            color:$white!important;
            opacity: 0.8;
        }
    }
    i{
        color:$white;
        font-size:$header-con-size!important;
    }
    .nav-item {
        @media(min-width: 768px){
            padding: 0 1.75rem;
        }
       
    }
#top-navbar ul{
    float: right;
    font-size: 1.25rem;
}
    .notification-number {

    font-size: 0.75rem;
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    text-align: center;
    padding: 0.25rem 0 0 0.1rem;
    border-radius: 50%;
    z-index: 2;
    font-weight: 500;
    background: $orange;
    color: $white;
    line-height: 0.75rem;
    bottom: 1.25rem;
    right: 0.85rem;
       
    }
    .fa-bell{
        line-height: 4rem;
}

.btn{
    color: $white;
    

}
.dropdown-item:hover{
    color:$black!important;
    opacity: 0.8;
}
.navbar{
    height: auto;
}

span.menu-option-label {
    @media(min-width: 1200px){
        width: 10rem;
    }
    
}
.dropdown-menu.show {
    transform: translate3d(50px, 14px, 0px)!important;
}
}

.home-link span{
   font-size: 2.5rem;
}

.mobile-menu-style{
    @media(max-width: 768px){
        width: 100%;
        position: absolute;
        top: 4.65rem;
        z-index: 999;
        background-color: $secondary;
    }
    
}

.secondary-menu-mobile{
    line-height: 4rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2), 0 0 0 1px rgba(0,0,0,0.08);
    border: 0;
    box-shadow: 0 4px 6px 0 rgba(32,33,36,0.28);
}