#side-nav-left {
    padding: 7rem 1.5rem;
    box-shadow: 0 3px 5px 0 rgba(32, 33, 36, 0.18);
    background-color:$bg-light;
    .nav-link 
    {

            i.fa {
                display: inline-block;
                border-radius: 50%;
                padding: 1rem ;
                background-color: $primary;
                color:$white;
              font-size: 1.5rem;
              width: 3.5rem;
    text-align: center;
              }
             
    }
    .active{
        background-color: $orange!important;
      }
   a{
        font-size: 1rem;
    }
    li{
        padding-bottom: 1.5rem;
        position: relative;
        &:last-child{
            padding-bottom: 0;
        }
    }
    .text-menu{
        color:$main-color-text;
        padding-left: 1rem;
        font-size: 1.25rem;
    }


    .byb-sub-menu {
        list-style: none;
        padding-left: 0;
        margin-left: 1.75rem;
         li {

            &:first-child{
                padding-top: 2rem;
            }
            &:before{
                content: "";
                display: inline-block;
                background-color: #ddd;
                height: 0.15rem;
                width: 4rem;
                position: relative;
                bottom: 0.5rem
            }
            &:last-child{
                border-left: none;
                &::after{
                    content: "";
                        height: 1.75rem;
                        background: #ddd;
                        width: 0.15rem;
                        display: block;
                        position: absolute;
                        top: 0
                }
            }
           
        }
    }

    span.edit-menu {
        right: 5rem;
        position: absolute;
        left: 10rem;
        top: 1.25rem;
        display: inline-block;
        font-size: 1.75rem;
    }
}


