.left-column {

  box-shadow: 0 3px 5px 0 rgba(32, 33, 36, 0.18);
  background-color:$bg-light;
}
#side-nav-left {
  padding: 7rem 15px;
    .nav-link 
    {

            i.fa {
                display: inline-block;
                border-radius: 50%;
                padding: 1rem ;
                background-color: $primary;
                color:$white;
              font-size: 1.5rem;
              width: 3.5rem;
              height: 3.5rem;
              text-align: center;
              }
              .fa-money{
                background-color: rgba(0,0,0,0.2)!important;
                color: $primary!important;
              }

              .sub-menu-item-icon{
                display: inline-block;
                border-radius: 50%;
                padding: 1rem ;
                background-color: $primary;
                color:$white;
              font-size: 1.25rem;
              width: 3rem;
              height: 3rem;
              text-align: center;
              i.fa {
                display: inline-block;
                border-radius: 50%;
                padding: 1rem ;
                background-color: $primary;
                color:$white;
              font-size: 1.25rem;
              width: 3rem;
              height: 3rem;
              text-align: center;
              }
              }
             
    }
    .active{
        background-color: $orange!important;
      }

    li{
        padding-bottom: 1.5rem;
        position: relative;
        &:last-child{
            padding-bottom: 0;
        }
    }
    .text-menu{
        color:$main-color-text;
        padding-left: 1rem;
    }


    .byb-sub-menu {
      list-style: none;
    padding-left: 1.75rem;
    border-left: 1px solid #ddd;
    margin-left: 1.25rem;
         li {

            &:first-child{
                padding-top: 2rem;
               
            }
            &:before{
                content: "";
                display: inline-block;
                background-color: #ddd;
                height: 0.15rem;
                width: 4rem;
                position: relative;
                bottom: 0.5rem
            }
            &:last-child{
                border-left: none;
                &::after{
                    content: "";
                        height: 1.75rem;
                        background: #ddd;
                        width: 0.15rem;
                        display: block;
                        position: absolute;
                        top: 0
                }
            }
           
        }
    }

    .add-submenu{
      background-color: #f7f7f7!important;
      border: 1px dashed #ddd;
      color: $primary!important;
    }
    .edit-menu {
      right: 5rem;
      position: absolute;
      left: 9rem;
      top: 1.75rem;
      display: inline-block;
      font-size: 1.25rem;
    }
}



/**
 * submenu tree
 * ------------------------------
 */

 .tree,
 .tree ul {
   margin:0 0 0 1em; /* indentation */
   padding:0;
   list-style:none;
   color:#ddd;
   position:relative;
 }
 


 .tree {

  ul {
    margin-left:.5em;
    &:before {
      content:"";
      display:block;
      width:0;
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      border-left:1px solid;
    }
  }
  li{
    margin: 0;
    padding: 0 1.75em;
     &:before {
      content: "";
      display: block;
      width: 24px;
      height: 0;
      border-top: 1px solid;
      margin-top: -1px;
      position: absolute;
      top: 1.75rem;
      left: 0;
     }
    &:first-child{
      padding-top: 2rem;
      &:before {
        height:auto;
        top: 3.5rem;
        bottom:0;
     }
   }
  &:last-child:before {
    background-color: #fff;
    height:auto;
    top: 1.75rem;
    bottom:0;
  }
  
  }
 }
