#bp-settings {
    font-size: 1rem;

    .byb-form-group {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;

    }

    label {
        white-space: nowrap;
        color: $primary;
        margin-bottom: 0;
        line-height: 2.5rem;
    }

    [type="radio"]:checked+label:before,
    [type="radio"]:not(:checked)+label:before {
        top: -10px;
    }

    [type="radio"]:checked+label:after,
    [type="radio"]:not(:checked)+label:after {
        top: -6px
    }

    .radio-btn-label {
        width: 2.5rem;
    }

    .byb-radio-btn {
        width: 4rem;
        display: flex;
        align-items: center;
    }
}

.color-list {
    position: absolute;
    left: -1.25rem;
    background: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    z-index: 99;
    width: 8rem;
    top: 4rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.06), 0 1px 2px rgba(0, 0, 0, 0.08);

    li {
        list-style: none;
    }

}

.color-list,
.selected-color {
    font-family: 'FontAwesome';
    font-size: 3rem;

}

.selected-color {
    display: inline-block;

}

.selected-color-wrapper .fa {
    font-size: 2rem;
    margin-left: 1rem;
    position: relative;
    opacity: 0.5;
}

.input-group-addon {
    position: absolute;
    right: 0.5rem;
    line-height: 9px;
    top: 0.855rem;
}