.account-section {
    min-height: 26rem;
}

.account-section-title {
    color: $primary;
    border-bottom: 2px solid $primary;
    display: flex;
    justify-content: space-between;

    .material-icons {
        color: $main-color-text;
        opacity: 0.6;
    }
}

.info-label {
    color: $primary
}

.account-menu {
    padding: 0 1rem;
    margin-top: -3rem;

    .label-menu {
        color: $secondary;

        @media(min-width: 768px)and(max-width: 1199px) {
            display: none;
        }
    }

    .menu-item {

        border-bottom: 1px solid $secondary;
        padding: 1.5rem 0.5rem !important;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: $secondary;
            display: flex;
            align-items: center;

            .fa {
                font-size: 1.75rem;
            }

            .material-icons {
                font-size: 2rem;
            }

            .material-icons,
            .fa {
                width: 4rem;
                text-align: center;
            }
        }
    }

    .active-menu a {
        color: $primary;
        background-color: transparent !important;

        .label-menu {
            color: $primary !important;
        }
    }
}

.invoice-table {
    display: inline-table;
    overflow-x: auto;
    white-space: nowrap;
    word-wrap: break-word;
    font-size: 1rem;
    color: $main-color-text;

    thead th {
        font-weight: normal;
        border-top: none;
        padding-left: 0;
        border-bottom: 1px solid $secondary;
    }

    td {
        border-top: none;
        padding-left: 0;
    }

    .download {
        color: $primary;
        text-align: right;
        padding-right: 0;
    }
}

.pay-btn {
    color: $white;
    width: 100%;
    padding: 0 0.75rem;
}