.account-section-title{
    color:$primary;
    border-bottom: 2px solid $primary;
}
.info-label{
    color:$primary
}

.account-menu{
    .menu-item{
text-align: center;
border-bottom: 2px solid;
    }
    .active-menu {
        color:$primary;
        background-color: transparent!important;
    }
}
