.account-section {
    min-height: 400px;
}

.account-section-title {
    color: $primary;
    border-bottom: 2px solid $primary;
    display: flex;
    justify-content: space-between;
    .material-icons{
        color:$main-color-text;
        opacity: 0.6;
    }
}

.info-label {
    color: $primary
}

.account-menu {
    .menu-item {

        border-bottom: 1px solid $secondary;
        padding: 1rem 0.5rem !important;

        a {
            color: $secondary;
            .material-icons {
                font-size: 2rem;
                margin-right: 1rem;
            }
        }
    }

    .active-menu a {
        color: $primary;
        background-color: transparent !important;
    }
}

.invoice-table{
    display: inline-table;
overflow-x: auto;
white-space: nowrap;
word-wrap: break-word;
thead th{
    font-weight: normal;
    border-top: none;
    padding-left: 0;
}
td{
    border-top: none;
    padding-left: 0;
}
.download{
    color:$primary;
    text-align: right;
    padding-right: 0;
}
}