.byb-table-companies{
display: inline-table;
min-width: 624px;
overflow-x: auto;
white-space: nowrap;
table-layout: fixed;
word-wrap: break-word;
thead th{
    color:$primary;
    border-bottom: 2px solid $primary;
    border-top: none; 
    padding-left: 0;
    font-weight: normal;
}
.table-options{
    font-size: 1.25rem;
    padding-left: 1rem;
    opacity: 0.6;
    .material-icons{
        font-size: inherit;
    }
}
td{
    color:#8B8B8B;
    border-top: none;
    padding-left: 0;
}
}