$bloc-width:13rem;
$bloc-height:21rem;

#office{
    .byb-section-title{
        h2{
            font-size: 1.5rem;
            color:$dark-gray;
            text-align: center;
    }
    }
    .slider-content{
        
        @media(min-width: 1200px){
            padding: 0 8%;
        }
    }
}
.byb-line-heading{
    background: $dark-gray;
    width: 84%;
    display: inline-block;
    height: 2px;
    top: 1rem;
    right: 0;
    opacity: 0.6;
}
.byb-create-bloc{
    color: $white;
    height: $bloc-height;
    width: $bloc-width;
    .icon-bloc  .material-icons{
        font-size: 3rem;
    }
    p{
        font-size: 1rem;
    }
    @media(max-width: 767px){
        margin: auto;
    }
}
.icon-text-wrapper.active-bloc,.message-notification{
    color: $primary;
    
}
.message-notification {
    font-size: 1rem;
}
.byb-bloc-office-slide{
    padding:1rem;
    &:focus {
        outline: none;
    }

.byb-bloc-office-slide-content{
    height: $bloc-height;
    max-width: $bloc-width;
    background-color: #FAF9FA;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .icon-bloc  .material-icons{
        font-size: 3rem;
    }
}
}
input.byb-search-input{
    width: 30rem;
    border-radius: 1.5rem;
    border: 1px solid #ddd;
    padding: 0.5rem 1rem;
    &:before{
        content: "\f095";
        font-family: FontAwesome;
    display: inline-block;
    padding-right: 6px;
    vertical-align: middle;
    }
}

.icon-text-wrapper{
    color: #6A82FA;
    .material-icons{
        font-size: 4rem;
    }
    p{
        font-size: 1rem;
    }
}

.last-change-date {
    font-size: 0.75rem;
    text-align: left;
    margin-bottom: 0;
}

.byb-slide-arrows{
    display: flex;
    align-items: center;
    font-size: 3rem;
    .fa-angle-left{
        position: absolute;
        left: 1%;
    }
    .fa-angle-right{
        position: absolute;
        right: 1%;
    }
}

.slider-arrow {
    position: absolute;
    top: 50%;
    margin-top: -18px; 
    font-size:2.5rem!important;
    cursor: pointer;
    z-index: 10;
  }
  .slider-prev {
    left: -5%;
    @media(max-width: 767px){
        left: 0;
    }
    
  }
  .slider-next {
    right: -5%;
    @media(max-width: 767px){
        right: 0;
    }
  }
